// VARIABLES //

// COLOURS //

$black: 		#000000;
$white: 		#FFFFFF;


// Layout shit // 

$baseFontSize: 				16;
$baseLineHeight: 			20;
$baseFontWeight: 			400;
$baseFontFamily: 			'Slabo', sans-serif, tahoma;


$secondaryFontFamily: 		'Oxygen', helvetica, arial;